<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409521996344-9hvhftc29nu6gsjd4ahllq01kgo9gj0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409521996344-9hvhftc29nu6gsjd4ahllq01kgo9gj0h</string>
	<key>API_KEY</key>
	<string>AIzaSyB2mcBLSu63syeJJK1rkeQaE9zYwuE4cNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>409521996344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.homeU</string>
	<key>PROJECT_ID</key>
	<string>log-in-jtkrwe</string>
	<key>STORAGE_BUCKET</key>
	<string>log-in-jtkrwe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409521996344:ios:a7e813f2e67f2d0c9d5ccd</string>
</dict>
</plist>